
.sm-layout-wrapper{
    display: grid;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.sm-layout-wrapper .sp-application{
    width:80px;
    height:80px;
    margin: 10px;
    line-height: 80px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.sp-application .app-content{
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    line-height: 100vh;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
